@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


:root {
    --primary-color: #516CF7;
    --primary-light: #E1E7FE;
    --primary-dark: #3850CC;
    --secundary-color: #9251F7;
    --secundary-light: #EFE2F9;;
    --text_color: #2E2E48;
    --dark_gray: #545667;
    --light_gray: #E4E4E4;
    --gradiente: linear-gradient(210.57deg, #516CF7 9.1%, #9251F7 104.98%);
    
    --fonte-destaque: 'Poppins', 'Arrial Narrow Bold', cursive;
    --fonte-padrao: 'DM Sans', 'Helvetica', sans-serif;
    
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text_color);
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: var(--fonte-padrao);
    font-size: 1.8rem;
    background-color: #F9F9F9;
    width: 100vw;
    height: 100vh;
    color: var(--text_color);
}

.divisoria-1 {
    background-image: linear-gradient(90deg, rgba(81, 108, 247, 0.28) 0%, rgba(146, 81, 247, 0) 100%);
    height: .2rem;
    width: 100vw;
}

.divisoria-2 {
    background-image: linear-gradient(200deg, rgba(81, 108, 247, 0.28) 0%, rgba(146, 81, 247, 0) 100%);
    height: .2rem;
    width: 100vw;
}

h1 {
    text-align: left;
    margin-bottom: 1.8rem;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--fonte-destaque);
}

p {
    font-family: var(--fonte-destaque);
    font-weight: 300;
    font-size: 1.4rem;
}

.container-sections {
    width: 32.7rem;
    margin: auto;
    padding: 4.5rem 0;
}
/*----------------------- MENU -----------------------*/

header {
    height: 7.2rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light_gray);
    margin-bottom: 4.5rem;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #F9F9F9;
}

header a#logo, header span#burguer {
    padding: 0 2.4rem;
}

header > span#burguer {
    cursor: pointer;
}

nav#itens {
    display: none;
    margin-top: 28.6rem;
    position: fixed;
    width: 100vw;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: var(--primary-light);
}

nav#itens > ul {
    list-style: none;
    display: block;
    text-align: center;
}

nav#itens > ul#menu > li:hover {
    background-color: #c7ceff;
    transition: .3s;
    font-weight: 500;
}

nav#itens > ul > li > a {
    color: var(--primary-dark);
    padding: 1.5rem;
    display: block;
    width: 100%;
    height: 100%;
}

header.scroll {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/*----------------------- HOME -----------------------*/

section#home {
    padding-top: 11.8rem;
}

div.container_img_perfil {
    display: flex;
    justify-content: center;
    margin-bottom: 4.5rem;
}

img#img_perfil {
    position: relative;
    width: 26rem;
    height: 26rem;
    border: double 0.5rem transparent;
    border-radius: 100%;
    background-image: linear-gradient(white, white), var(--gradiente);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

section#home > div.home-content {
    display: block;
    text-align: center;
}

div.home-content >  ul.midias_sociais {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-bottom: 3.5rem;
    list-style-type: none;
    transition: transform .3s;
}

div.home-content >  ul.midias_sociais> li:hover {
    transform: scale(1.1);
}

section#home > div.home-content > h1 {
    font-size: 4rem;
    margin-bottom: .4rem;
    text-align: center;
}

#home h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

a.btn-download {
    display: flex;
    width: 24.4rem;
    height: 6.7rem;
    padding: 1.125rem 2.1875rem;
    margin: auto;
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
    

    color: white;
    background: var(--primary-color);
    border: none;
    border-radius: 1rem;

    font-family: var(--fonte-destaque);
    font-size: 2rem;
}

a.btn-download > img {
    height: 2rem;
}

a.btn-download:hover {
    background-color: #3c50af;
}

/*----------------------- PORTFÓLIO -----------------------*/
section#portfolio {
    background-color: white;
    width: 100vw;
}

section#portfolio > div > img {
    margin-bottom: 4.5rem;
}

div > hr {
    margin: 4.5rem 0rem;
    height: 2px;
    border: none;
    background-color: var(--light_gray);
}

a#veja_mais {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
}

a#veja_mais > img {
    height: 1.5rem;
    padding-left: .5rem;
}

a#veja_mais:hover {
    text-decoration: underline;
}


/*----------------------- EXPERIÊNCIA  -----------------------*/

section#experiencia > div.container-experience {
    margin-bottom: 3.5rem;
}


div.container-experience > div.cabecalho-container {
    display: flex;
    position: relative;
    padding: 1.3rem;
    width: 100%;
    background-color: var(--primary-light);
    border-radius: .6rem .6rem 0 0;
}

.logo-empresa {
    width: 4.8rem;
    height: 4.8rem;
    border: .3rem solid white;
    border-radius: 10px;
    background-color: white;
    margin-right: 1.1rem;
}

div.cabecalho-container > img.icon-arrow-down {
    cursor: pointer;
    position: absolute;
    right: 1rem;

}

div.cabecalho-container > img.icon-arrow-down:hover {
    filter: hue-rotate(355deg) contrast(110%);
}
div.cabecalho-container > div > h2 {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

div.cabecalho-container > div > h2:nth-child(1) {
    color: var(--primary-dark);
}

div.cabecalho-container > div > h2:nth-child(2)  {
    color: var(--dark_gray);
}

div.cabecalho-container > div > h3 {
    color: var(--dark_gray);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

div.container-experience > ul {
    display: none;
    background-color: white;
    font-size: 1.4rem;
    padding: 1rem;
    list-style-type: none;
    border-radius: 0 0 .6rem .6rem;  
}

div.container-experience > ul > li {
    padding-bottom: .8rem;
}

div.container-experience > ul > li::before {
    line-height: 1.5rem;
    content: '• ';
    font-weight: 500;
    color: #9251F7;
}


/*-------------------------- ANIMATION --------------------------*/
/* section#home > div.container_img_perfil {
    animation: fromTop .7s .2s backwards;
}

section#home > div.home-content {
    animation: fromBottom .7s .2s backwards;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
} */

/*--------------------------- FORMAÇÃO ---------------------------*/
section#formacao {
    background-color: white;
}

section#formacao > h1 {
    width: 32.7rem;
    margin: auto;
    padding-top: 4.5rem;
}

section#formacao > div.container-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 1.1rem;
}

div.card-formacao {
    background-color: #F7F9FC;
    height: 22.4rem;
    width: 15.8rem;
    padding: 1.1rem;
    text-align: center;
}

div.card-formacao:nth-child(1) {
    border-radius: .8rem 0 0 0;
}

div.card-formacao:nth-child(2) {
    border-radius: 0 .8rem 0 0 ;
}

div.card-formacao:nth-child(3) {
    border-radius: 0 0 0 .8rem;
}

div.card-formacao:nth-child(4) {
    border-radius: 0 0 .8rem 0;
}

div.card-formacao > div {
    text-align: left;
}

div.card-formacao > div > h2,
div.card-formacao > div > p {
    font-weight: 500;
    font-size: 1.1rem;
}

div.card-formacao > div > h2 {
    color: var(--primary-color);
}

div.card-formacao > div > p {
    color: var(--dark_gray);
    margin-bottom: .7rem;
}

div.card-formacao > img.status {
    margin: 0;
}



div.card-formacao > div.date-status {
    display: flex;
    justify-content: space-between;
}


div.card-formacao > div.date-status > p {
    font-size: .8rem;
    font-weight: 400;

}

